<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Агрегатор Новостей</title>
    <!-- Подключение Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/styles/style.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="static/scripts_js/toogleTheme.js"></script>
    <script src="static/scripts_js/searchPage.js"></script>
    <script src="static/scripts_js/clicks.js"></script>
</head>
<body>

<!-- Шапка сайта -->
<header>
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="/">Главная</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        </div>
        <div class="custom-control custom-switch ml-2" id="themeSwitchContainer">
            <input type="checkbox" class="custom-control-input" id="themeSwitch" onclick="toggleTheme()">
            <label class="custom-control-label" for="themeSwitch">
                <img id="moonIcon" src="static/icons/moon-icon.png" alt="Moon Icon">
                <img id="sunIcon" src="static/icons/sun-icon.png" alt="Sun Icon" style="display: none;">
            </label>
        </div>
        <form class="form-inline my-2 my-lg-0" onsubmit="return searchPage()">
            <input class="form-control mr-sm-2" type="search" id="searchInput" placeholder="Введите тег" aria-label="Search" required>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
        </form>
    </nav>
</header>

<main class="container-fluid">
    {% if found_news % 100 >=5 and found_news % 100 <= 20 %}
        <h1 class="tags_finder">Найдено {{ found_news }} новостей с тегом "{{ tag_query }}"</h1>
    {% elif found_news % 10 == 2 or found_news % 10 == 3 or found_news % 10 == 4 %}
        <h1 class="tags_finder">Найдено {{ found_news }} новости с тегом "{{ tag_query }}"</h1>
    {% elif found_news % 10 == 1 %}
        <h1 class="tags_finder">Найдена {{ found_news }} новость с тегом "{{ tag_query }}"</h1>
    {% else %}
        <h1 class="tags_finder">Найдено {{ found_news }} новостей с тегом "{{ tag_query }}"</h1>
    {% endif %}
    <div class="row">
        {% for news_item in news %}
            {% for tag in news_item[3] %}
                {% if tag == tag_query %}
                    <div class="news-cont" onclick="handleContainerClick('{{ news_item[2] }}')">
                        <img src="{{ news_item[5] }}" style="width: 100%; max-height: 275px;">
                        <h4 class="news-title">{{ news_item[1] }}</h4>
                        <h8 class="news-time">{{ news_item[4] }}</h8>
                        <div class="tags-container">
                            {% for news_tag in news_item[3] %}
                                {% if news_tag == tag %}
                                    <span class="found_tag" onclick="handleTagClick('{{ news_tag }}')">{{ news_tag }}</span>
                                {% else %}
                                    <span class="tag" onclick="handleTagClick('{{ news_tag }}')">{{ news_tag }}</span>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
</main>

<!-- Подключение Bootstrap JavaScript и jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>